/* Main Elements */
body {
    background-color: black;
    font-family: "Open Sans",sans-serif;
    
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

img {
    max-width:100%;
    max-height:100%;
}

h1 {
    color: white;
    font-family: "Roboto Condensed",sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: -16px;
}
h2 {
    margin-bottom: -2px;
    font-weight: 300;
    font-style: italic;
    font-size: 24px;
    color: rgb(138, 138, 138);
}
h3 {
    color: white;
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: 400;
}

/* Navbar Elements */
nav {
    background-color: black;
    backdrop-filter: blur(2px);
    position: fixed;
    width: 100%;
    top: 0;
    
    overflow: auto;
    box-shadow: 0px 1px 0px #0000003c;
}

nav ul {
    list-style: none;

    float: right;
    margin: 2px 10px 2px 145px;
    padding: 0;
}

nav li a {
    color: white;
    text-decoration: none;
    font-weight: 300;
    font-size: 15px;
    display: block;
    

    padding: -1px;
}

.border {
    margin: 125px auto auto auto;
    background-color: #00000000;
    color: #00000000;
}

.current {
    margin-top: 54px;
    padding: 3px;
    text-align: center;
    background-color: #000080;;
    color: white;
    font-size: 16px;
}

/* Speciality Elements */
a {
    color: #0072ff;
    text-decoration: underline;
}

a:hover {
    text-shadow: 0px 0px 1px #0072ff;
    text-decoration: none;
    transition: 0.6s;
}

a .download {
    color: #9500ff;
    font-style: bold;
    text-decoration: none;
}

.logo img {
    position: absolute;
    
    margin-top: 15px;
    margin-left: 15px;
}

.button {
    background-color: #000080;
    color: white;
    border-radius: 10px;
    border-style: solid;
    border-color: #00000000;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;

    margin: 8px 2px;
    padding: 6px;
    display: inline-block;

    transition: 0.6s;
}

.button:hover {
    border-color: white;
    color: black;
    background-color: #0072ff;
    text-shadow: 0px 0px 5px white;
    border-radius: 25px;

    transition: 0.6s;
    
    cursor: pointer;
}

.text-box {
    margin: 10px auto 10px auto;
    position: initial;
    left: 50%;
    width: 50%;
    transition: width 0.6s;
    color: white;
}
@media (max-width:1000px){
    .text-box {
      width: 80%;
      transition: 0.6s;
    }
}